page-programs {
	.dayTalks {
	    background: #bc8e1a;
    background: linear-gradient(to bottom, #bc8e1a 0%, #bd952f 50%, #bca364 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc8e1a', endColorstr='#bca364',GradientType=0 );
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding: 5px 15px;
    margin: 10px 10px;
    font-size: 14px;

	}
    
    h2.text.text-md.text-md-c2 {
    color:#3c5b5b;
}

.button-outline-md-c2 {
    font-size: 11px;
    border-top: none;
}

	
}
