page-speakers {

.h2{
    
    overflow: initial;
    white-space: initial;
}


img.floatImg {
    float: left;
    position: absolute;
    top: 32px;
    left: 44px;
}



.more-padding .input-wrapper {
    margin: 20px;
}

}